//test
.pm-window.focused h3:hover {
	background-color:#D0721F; 
	border-color:#000000;
}

.pm-window.focused h3 {
	background-color:#D0721F;
	border-color:#000000;
}

.pm-window h3 {
	background-color:#14ADFF;
	border-color:#00e1ff;
}

.pm-log-add {
	background-color:#013770;
	border-color:#013770;
}

.pm-log-add.focused {
	background-color:#00e1ff;
	border-color:#00e1ff;
}

.chat-log-add {
	background-color:#DFBEF7;
}

#header{background:url("http://107.161.19.92:8000/CustomCss/Halloween/TopHalloween.jpg")}

body{background-image:url("http://107.161.19.92:8000/CustomCss/Halloween/Halloween.jpg");background-repeat:no-repeat;background-position:center}
 
 .menugroup .button{background:#000000}
 
 .menugroup .button:hover{background:#03fff7}


.userlist {
border-left: 1px solid #03fff7;
background: #C2B5C6;
}

 .message-announce {
background:#C4501A;
outline: 1px solid red;
border-color: #40FF00;
 }
 
 .broadcast-blue{
    background-color: #D27422;
        padding: 2px 4px;
}
.statbar
{
        position: absolute;
        display: block;
        width: 186px;
        background: url(http://i.imgur.com/IKIMzZJ.png);
        background-repeat: no-repeat;
        background-position: 0px 1px;
        min-height: 40px;
        padding: 2px 4px 2px 26px;
}
.statbar strong
{
        position: absolute;
        left: 30px;
        top: -18px;
        font-size: 12px;
        display: block;
        text-align: center;
        color: #FFFFF;
        
}
.statbar strong small
{
          font-size: 11px;
        font-weight: normal;
}
.statbar .hpbar
{
        position: relative;
        border: 1px solid #131313;
        background: #FCFEFF;
        height: 6px;
        margin: 0 0 0 0;
        width: 151px;
        border-radius: 0px;
          padding: 0;
          top: -2px;
}
.hptextborder{
        display:none !important;
}



.statbar .hpbar .hp
{
        height: 3px;
        border-top: 1px solid #007734;
        background: #00bb51;
        border-bottom: px solid #007734;
        border-radius: 0px;
}
.statbar .hpbar .hp-yellow
{
        background-color: #f5d538;
        border-color: #be9f0a;
}
.statbar .hpbar .hp-red
{
        background-color: #ee4928;
        border-color: #a3260d;
}



.statbar .hpbar .prevhp
{
        background: #BBEECC;
        height: 6px;
        border-radius: 0px;
}
.statbar .hpbar .prevhp-yellow
{
        background-color: #fcf4ca;
}
.statbar .hpbar .prevhp-red
{
        background-color: #facec5;
}



.hptext{
        margin-top: 2px;  
}
  
.statbar .hpbar .hptext
{
        position: absolute;
        color: #FFFFFF;
        text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
        font-size: 9px;
        width: 32px;
        height: 12px;
        top: -1px;
        text-align: center;
}
.rstatbar .hpbar .hptext
{
        width: 40px;
        height: 15px;
        background:url(http://i.imgur.com/ZZ6x4Xp.png);
        right: -42px;
        border-radius: 0 4px 4px 0;
}
.lstatbar .hpbar .hptext
{
        width: 35px;
        height: 15px;
        background:url(http://i.imgur.com/G56gNPf.png);
        left: -55px;
        border-radius: 4px 0 0 4px;
        padding-left: 2px;
}


.statbar .status
{
          margin-top:15px;
        min-height: 10px;
        font-size: 7pt;
}

.statbar span.brn,
.statbar span.psn,
.statbar span.slp,
.statbar span.par,
.statbar span.frz
{
          position: absolute;
          left: -21px;
          top: 10px;
          font-size: 8px;
        padding: 1px 2px;
        border: 0;
        border-radius: 3px;
}
.statbar span.bad
{
        background: #e74c3c;
        color: #ecf0f1;
        border-color: #c0392b;
}
.statbar span.good
{
        background: #27ae60;
        color: #ecf0f1;
        border-color: #067A37;
}
.statbar span.neutral
{
        background: #7f8c8d;
        color: #ecf0f1;
        border: 1 solid #2c3e50;
}
