.pm-window.focused h3:hover {
	background-color:#000000; 
	border-color:#000000;
}

.pm-window.focused h3 {
	background-color:#000000;
	border-color:#000000;
}

.pm-window h3 {
	background-color:#C782CD;
	border-color:#00e1ff;
}

.pm-log-add {
	background-color:#013770;
	border-color:#013770;
}

.pm-log-add.focused {
	background-color:#00e1ff;
	border-color:#00e1ff;
}

.chat-log-add {
	background-color:#B971CF;
}

#header{background:url("http://107.161.19.92:8000/CustomCss/Halloween/TopHalloween.jpg")}

body{background-image:url("http://107.161.19.92:8000/CustomCss/Halloween/Halloween.jpg");background-repeat:no-repeat;background-position:center}
 
 .menugroup .button{background:#000000}
 
 .menugroup .button:hover{background:#03fff7}


.userlist {
border-left: 1px solid #03fff7;
background: #D591E9;
}

 .message-announce {
background:#C4501A;
outline: 1px solid red;
border-color: #40FF00;
 }