.pm-window h3 {
background-color:#151515;
border-color:#151515;
}

.pm-log-add {
background-color:#151515;
border-color:#151515;
}

.pm-log-add.focused {
background-color:#00e1ff;
border-color:#00e1ff;
}

.chat-log-add {
background-color:#000;
}

#header {
background:url(http://107.161.19.92:8000/CustomCss/Halloween/TopHalloween.jpg);
}

body {
background-image:url(http://107.161.19.92:8000/CustomCss/Halloween/Halloween.jpg);
background-repeat:no-repeat;
background-position:center;
}

.menugroup .button {
background:#000;
}

.menugroup .button:hover {
background:#FF4000;
}

.userlist {
background:#080808 url(http://i.imgur.com/8Uy3Xar.png) no-repeat;
border-right:1px solid #101010;
}

.userlist li {
border:none;
color:#6bf8c5;
}

.message-announce {
background:#C4501A;
border-color:#40FF00;
}

.broadcast-blue {
background-color:#D27422;
padding:2px 4px;
}


.pm-window.focused h3:hover,.pm-window.focused h3 {
background-color:#D0721F;
border-color:#000;
}

.chat-log {
background:url(http://107.161.19.92:8000/CustomCss/Halloween/tree.png) no-repeat right top;  

}
